// Utilities
*{
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}
ul{
    list-style: none;
}
p{
    line-height: 1.7;
}

a{
    text-decoration: none;
}

.container{
    max-width: 1200px;
    margin: auto;
}

.my_grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}

.line{
    height: 4px;
    width: 75px;
    background-color: $main-color;
    margin-bottom: 2rem;
}